html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.background { 
    background-image: url("assets/images/old_map.png")
}
.content {
    flex: 1 0 auto;
    align-content: center;
    width: 920px; 
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 50px;
    margin-bottom: 100px;
    background-color: white;
    border: solid;
    border-radius: 1px;
    border-color: #0d2b2b; 
    box-shadow: 0px 0px 0px 4px rgba(174, 243, 237, 0.3);
    line-height: 2;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;

   }
.footer {
    background-color: #bbb;
    color: white;
    padding: 20px;
    flex-shrink: 0;
    font-family:'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    text-align: center;
    border-top: solid teal;
    text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
     
}
img {
    float: left;
    padding: 20px;
   }
.navbar {
    float: right;
    text-align: right;
    font-size: 12px;
    margin-right: 25%;
   

}
.content2 {
    text-align: left;
    margin-left: 25%;
    margin-right: 25%;
    width: 940px;
    border: solid 1px;
    flex: 1 0 auto;
    margin-top: 25px;
    margin-bottom: 100px;
    background-color: white;
}

.portfolio-content {
    text-align: center;
    margin-left: 25%;
    margin-right: 25%;
    width: 940px;
    border: solid 1px;
    flex: 1 0 auto;
    margin-top: 25px;
    margin-bottom: 100px;
    background-color: white;

}
h2 {
    text-align: left;
    font-family:'Georgia', 'Times', 'Times New Roman', serif;
    border-bottom: solid 1px;
    margin: 20px;
    color: teal;
    font: 24px;
    margin-bottom: 12px;
}
h1 {
    background-color: teal;
    color: white;
    font-family:'Georgia', 'Times', 'Times New Roman', serif;
    font-size: 32px;
    float: left;
    margin-left: 25%;
    margin-right: 25%;
    width: 255px;
    bottom: 0;
   
    }
.heading {
    background-color: rgb(255, 255, 255);
    color: white;
    border-bottom: solid black 1px;
    position: relative;
 }

h3 {
    text-align: left;
    font-size: 32px;
    padding: 20px;
    color: teal;
    border-bottom: solid lightgray 1px;
    

   
} 
a:hover {
    color: rgba(182, 125, 19, 0.849);
    background-color:#8ddfdf;
}
.inputform {
    margin-left:20px;
    padding: 12px;
    width:60%;
    }

#message {
    margin-left:52px;
    width:60%;
    padding:12px;
}


.submit {
margin-left: 52px;
padding: 8px; 
background-color: teal; 
color: white;
font-size: 16px;
}